body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
}

#registers, #memory {
    float: left;
    /* width: 45%; */
    margin: 2%;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow: auto;
}

span em {
    color: #9700F5;
}